<!DOCTYPE html>
<html>
<head>
  <title>RemindApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
 <body id="page-top" class="index">
  <p class="notice alert-success"><%= notice %></p>
  <p class="alert alert-danger"><%= alert %></p>


<div class="navbar navbar-fixed-top">
	<div class="container">
		<a class="navbar-brand" href="/">YodaMinder</a>
		
			<% if current_user %>
			<ul class="nav navbar-nav pull-right">
				<li >
					<a class="loggedin	"><i class="fa fa-user-secret"></i><br>Back you are<br><p class="back"><%= current_user.username %></p></a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li >
					<a class="logout" href="/sessions" data-method="delete" ><i class="fa fa-sign-out"></i><br>Log Out You Will </a>
				</li>
			</ul>
				<ul class="nav navbar-nav pull-right">
				<li >
					<a class="appointcircle" href="/appointments"><i class="fa fa-list-ol"></i><br> <p class="back2">Appointments</p> </a>
				</li>
			</ul>
			<% else %>
			<ul class="nav navbar-nav pull-right">
				<li>
					<a class="loggingin" href="/sessions"><i class="fa fa-sign-in"></i><br>Login You Must</a>
				</li>

				<li >
					<a class="signup1" href="/users/new"><i class="fa fa-pencil-square-o"></i><br>SignUp You Must</a>
				</li>
			</ul>
			<% end %>
	</div>


</div>

<%= yield %>

</body>
</html>

